<div class='news'>
  <div class='news__filter'>
      <app-switcher label='Показать все новости' (whenSwitchValue$)='onChangeActivity($event)'></app-switcher>
      <select (change)='onChangeSort($event)'>
        <option> &#8593; По активности </option>
        <option> &#8595; По активности </option>
        <option> &#8593; По дате публикации</option>
        <option selected> &#8595; По дате публикации </option>
      </select>
    </div>
    <div class='news__item' 
        *ngFor='let news of (newsList$ | async) |
          activityFilter: (isShowAll$ | async) |
          sortNews: (sortValue$ | async)?.field : (sortValue$ | async)?.order
        '
      >
      <div class='news__item-header'>
        <h3>{{news.name}}</h3>
        <span>{{news.datePublication | date:'dd.MM.yyyy'}}</span>
      </div>
      <p *ngIf='news?.previewText'> {{news?.previewText}}</p>
    </div>
</div>