@import '../../../variables'

.news
  width: 80%;
  margin: 16px 0;
  &__filter
    display: flex;
    & .showAll
      width: 25%;
    & .sortSelect
      margin-left: auto;
  &__item
    border-bottom: 1px solid $primary-light-color;
    padding: 10px;
    &:hover
      background-color: rgba(225, 190, 231, 0.3);
      cursor: pointer;
    &-header
      display: flex;
      align-items: baseline;
      & h3
        margin: 0;
      & span
        margin-left: auto;
    & p
      margin: 5px 0;