<div class='news'>
  <div class='news__filter'>
    <div class='show-all'>
      <app-switcher label='Показать все новости' (whenSwitchValue$)='onChangeActivity($event)'></app-switcher>
    </div>
    <div class='sort-select select-wrapper'>
      <select (ngModelChange)='onChangeSort($event)' [ngModel]="(selectedSort$ | async)">
        <option *ngFor='let item of sortList' [ngValue]='item'> 
          <ng-container *ngIf='item.order === "asc"'>&#8593;</ng-container>
          <ng-container *ngIf='item.order === "desc"'>&#8595;</ng-container>
          {{item.title}} 
        </option>
      </select>
    </div>
  </div>
  <div class='news__item' 
      *ngFor='let news of (filtredNews$ | async) |
        sortNews: (selectedSort$ | async)?.field : (selectedSort$ | async)?.order |
        pageParser: (pageParams$ | async)
      '
    >
    <div class='news__item-header'>
      <h3>{{news.name}}</h3>
      <span>{{news.datePublication | date:'dd.MM.yyyy'}}</span>
    </div>
    <p *ngIf='news?.previewText'> {{news?.previewText}}</p>
    <div class='btn__block' *ngIf='isEditMode$ | async'>
      <button class='btn' type='button' (click)='onClickEdit(news)'>Редактировать &#9998;</button>
      <button class='btn' type='button'>Удалить &#10006;</button>
    </div>
  </div>
  <ng-container #paginationContainer></ng-container>
</div>